{% extends "base.html" %}
{% load static %}

{% block extra_nav_class %}
nav-gradient
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        {% for item in bag_items %}
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">{{ item.product.name }}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded pic-shadow" src="{{ item.product.image.url }}">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.product.price }} €</p>
                                    </td>
                                    <td class="py-3">
                                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="pt-5 text-right">
                                    <h6><strong>Bag Total: {{ total }} €</strong></h6>
                                    <h6>Delivery: {{ delivery }} €</h6>
                                    <h4 class="mt-4"><strong>Grand Total: {{ grand_total }} €</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let url = `/bag/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    </script>
{% endblock %}