{% extends "base.html" %}
{% load static %}

{% block extra_nav_class %}
    navi
{% endblock %}


{% block content %}
    <section class="container-fluid hero-img">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto mx-5">
                <h1 class="hero-title display-4 logo-font text-black">
                    The new paintings are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View all</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>


    <!-- Section with painting request form -->
    <div class="container">
        <h2 class="paint-form-title">We would love to bring your envisioned artwork to life!</h2> 
        <h3 class="paint-form-text">Fill out the form to discuss the details of the painting you have in mind, 
            and we will get back to you in a way that is convenient for you.</h3>
    </div>
    <section class="container-fluid paint-request">
        <div class="container paint-request-inner">
            <div class="square-1 pic-shadow">
                <div class="square-2">
                    <div class="square-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="video-wrapper">
                                    <video id="myVideo" controls autoplay muted>
                                    <source src="{{MEDIA_URL}}sunset-sea.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-6 paint-request-inner-right">
                                <h2 class="paint-request-title">Request to create a painting</h2>
                                <form method="POST" action="{% url 'create_painting_request' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <button type="submit" class="submit-btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>     
    </section>

    <section class="paint2-request">
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
        <p>fdgdf</p>
    </section>


    
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        const video = document.getElementById("myVideo");
        video.onmouseover = function() {
            video.play();
        };
        video.onmouseout = function() {
            video.pause();
        };
    </script>
{% endblock %}