{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img width="100" class="rounded" src="{{ widget.value.url }}">
    </a>
    {% if not widget.required %}
        <span class="custom-control custom-checkbox mt-2">
            <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </span>
    {% endif %}
    {{ widget.input_text }}
{% endif %}
<div class="rounded-1 btn-file">
    Choose image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</div>
<strong><p class="text-danger" id="filename"></p></strong>