*:hover {
    transition: all 0.3s ease-in-out;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: "Lato";
  }
  
  textarea {
    resize: none;
  }
  
  input[type=checkbox] {
    cursor: pointer;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .mt-130 {
    margin-top: 130px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-40 {
    margin-left: 40px;
  }
  
  .mr-40 {
    margin-right: 40px;
  }
  
  .p-10 {
    padding: 10px;
  }
  
  .l-spacing-2 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .l-spacing-4 {
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .pic-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  
  .pic-frame {
    transition: all 0.3s ease-in-out;
  }
  
  .pic-frame:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  
  .submit-btn {
    width: 100%;
    background-color: #27563A;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 6px;
    border: none;
    letter-spacing: 2px;
  }
  
  .hero-title {
    max-width: 600px;
  }
  
  .hero-img {
    background: url("/media/hero-img.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
  }
  
  .paint-request {
    background-image: url("../../media/pr-bg.png");
    padding-bottom: 50px;
    overflow: hidden;
  }
  
  .paint-request-inner {
    height: 658px;
    border-radius: 10px;
    padding: 20px;
  }
  
  .paint-request-inner-right {
    padding: 20px;
    padding-top: 30px;
    padding-right: 40px;
  }
  
  .paint-request-title {
    font-family: "Roboto";
    margin-bottom: 20px;
  }
  
  .paint-request .clearablefileinput {
    max-width: 230px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  .paint-request .clearablefileinput::file-selector-button {
    font-weight: bold;
    background-color: #fff;
    padding: 2px 12px;
    margin-right: 10px;
    border: thin solid grey;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .paint-request .clearablefileinput::file-selector-button:hover {
    background-color: #e6f1ed;
    transition: 0.3s ease-in-out;
  }
  
  .paint2-request {
    background-image: url("../../media/pr3-bg.png");
    overflow: hidden;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 99.5%;
    overflow: hidden;
  }
  
  #myVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label[for=id_add_signature] {
    cursor: pointer;
  }
  
  .paint-form-title {
    position: relative;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin: 30px 10px 10px;
  }
  
  .paint-form-title::before {
    content: "";
    background-image: url("../../media/uzory.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 10px;
    width: 300px;
    height: 300px;
  }
  
  .paint-form-text {
    max-width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #666666;
    margin: auto;
  }
  
  .square-1 {
    position: relative;
    border: 14px solid #e0dfdf;
    box-shadow: 4px 0px 0px 0px #d6d5d5, 0px -4px 0px 0px #f0f0f0, -4px 0px 0px 0px #dcdcdc, 0px 4px 0px 0px #b9b9b9;
    /* Bottom */
  }
  
  .square-1::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: -16.9px;
    left: -17.8px;
    border-top: 2px solid #f0f0f0;
    border-left: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    border-right: 2px solid #f0f0f0;
  }
  
  .square-1::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: -16.9px;
    right: -17.8px;
    border-top: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
    border-bottom: 2px solid #d6d5d5;
    border-right: 2px solid #d6d5d5;
  }
  
  .square-2 {
    padding: 5px;
    padding-bottom: 0;
    border: 14px solid #f0f0f0;
    box-shadow: 0px -4px 0px 0px #c0c0c0, -4px 0px 0px 0px #d8d8d8, 4px 0px 0px 0px #dfdfdf, 0px 4px 0px 0px #f4f4f4, inset 0 0 10px rgb(0, 0, 0);
  }
  
  .square-2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: -17.8px;
    left: -17.8px;
    border-top: 2px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    border-bottom: 2px solid #b9b9b9;
    border-right: 2px solid #b9b9b9;
  }
  
  .square-2::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: -17.8px;
    right: -17.8px;
    border-top: 2px solid #d6d5d5;
    /* Top diagonal */
    border-left: 2px solid #b9b9b9;
    /* Left diagonal */
    border-bottom: 2px solid #b9b9b9;
    /* Bottom diagonal */
    border-right: 2px solid #d6d5d5;
    /* Right diagonal */
  }
  
  .square-3::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: -4px;
    border-top: 2px solid #c0c0c0;
    border-left: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    border-right: 2px solid #c0c0c0;
  }
  
  header {
    transition: top 0.5s;
  }
  
  #sort-all {
    position: relative;
    width: 10%;
    left: 7.5%;
    top: 80px;
    z-index: 1;
  }
  
  .nav-gradient {
    background: linear-gradient(to right, rgb(255, 186, 133), #87ceeb);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.316);
  }
  
  .navi {
    background-color: rgba(0, 0, 0, 0.4196078431);
  }
  
  /* from Bulma */
  .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .fa-xmark {
    font-size: 22px;
    margin-left: 18px;
    cursor: pointer;
  }
  
  .logo-font {
    text-transform: uppercase;
  }
  
  .main-logo-link {
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .shop-now-button {
    background-color: #000;
    color: white;
    min-width: 260px;
  }
  
  .btn-black {
    background: black;
    color: white;
  }
  
  .shop-now-button:hover,
  .shop-now-button:active,
  .shop-now-button:focus,
  .btn-black:hover,
  .btn-black:active,
  .btn-black:focus {
    color: white;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .border-black {
    border: 1px solid black !important;
  }
  
  .bg-black {
    background: #000 !important;
  }
  
  .search-input {
    width: 80%;
    padding: 8px 12px;
    border: 1px solid gray;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .search-button {
    padding: 4px 10px;
    background-color: #27563A;
    border: 1px solid #193625;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .search .fa-search {
    background-color: #27563A;
  }
  
  .home-link {
    text-transform: capitalize;
    font-size: 14px;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: -1;
  }
  
  .btt-button {
    width: 42px;
    height: 42px;
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
  }
  
  .btt-link {
    cursor: pointer;
  }
  
  .message-container {
    position: fixed;
    top: 72px;
    left: 25px;
    z-index: 9919;
  }
  
  .custom-toast {
    overflow: visible;
  }
  
  .toast-capper {
    height: 2px;
  }
  
  /* Profile Form */
  .btn-file {
    width: 25%;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: #fff;
    padding: 4px 12px;
    margin-top: 6px;
    border: thin solid grey;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn-file:hover {
    background-color: #e6f1ed;
    transition: 0.3s ease-in-out;
  }
  
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-checkbox {
    float: right !important;
  }
  
  .custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
  }
  
  .custom-control-label {
    cursor: pointer;
  }
  
  .painting-request-card {
    margin-left: 30px;
  }
  
  .delete-btn,
  .edit-btn {
    display: inline-block;
    width: 49%;
    background-color: #d0f6ff;
    color: #000;
    border-radius: 6px;
    text-align: center;
    padding: 4px 0;
    text-transform: uppercase;
    margin-top: 8px;
    font-weight: bold;
  }
  
  .delete-btn:hover,
  .edit-btn:hover {
    background-color: #a8c8cf;
    transform: scale(1.01);
    text-decoration: none;
    color: #000;
  }
  
  .delete-btn:hover {
    background-color: #ffb0b0;
  }
  
  /* -------------------------------- Media Queries */
  /* Slightly larger container on xl screens */
  @media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
  
    .header-container {
      padding-top: 124px;
    }
  }
  
  @media (max-width: 992px) {
    .hero-title {
      margin-top: 200px;
    }
  
    .header-container {
      padding-top: 70px;
    }
  }