{% extends "base.html" %}
{% load i18n %}

{% block extra_nav_class %}
nav-gradient
{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<div class="container header-container">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-12 col-md-6">
      <a class="btn btn-outline-black rounded-0 text-center mb-20" href="{% url 'home' %}">
        <i class="fa-solid fa-chevron-left"></i>
        <i class="fa-solid fa-chevron-left"></i>
        Back to Home
      </a>
      <div class="allauth-form-inner-content">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="submit-btn logout-btn" type="submit">{% trans 'Yes' %}</button>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock content %}