{% extends "base.html" %}
{% load i18n %}
{% block extra_nav_class %}
nav-gradient
{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6 mt-20">
            <a class="btn btn-outline-black rounded-0 text-center" href="{% url 'home' %}">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-left mt-4"></i>
                Back to Home
            </a>
            <div class="allauth-form-inner-content">
                <h1>{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
