{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}



{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6">
            <a class="btn btn-outline-black rounded-0 text-center" href="{% url 'profile' %}">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-left mt-4"></i>
                Back to Profile
            </a>
            <div class="allauth-form-inner-content">
                <h1>{% trans "Password Reset" %}</h1>
    
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}
