{% extends "base.html" %}
{% load i18n %}
{% block extra_nav_class %}
nav-gradient
{% endblock %}
{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6">
          <a class="btn btn-outline-black rounded-0 text-center mt-4" href="{% url 'home' %}">
            <i class="fa-solid fa-chevron-left"></i>
            <i class="fa-solid fa-chevron-left"></i>
            Back to Home
          </a>
            <div class="allauth-form-inner-content">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}
