{% extends "base.html" %}
{% load i18n %}

{% block extra_nav_class %}
nav-gradient
{% endblock %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-12 col-md-6 mt-20">
            <a class="btn btn-outline-black rounded-0 text-center mt-4" href="{% url 'home' %}">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-left"></i>
                Back to Home
            </a>
            <div class="allauth-form-inner-content">
                <h1>{% trans "Verify Your Email Address" %}</h1>
                <p>
                    {% blocktrans %}We have sent an email to you for verification.
                    Follow the link provided to finalize the signup process. If you do
                    not see the verification email in your main inbox, check your spam folder.
                    Please contact us if you do not receive the verification email within a
                    few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}