{% extends "base.html" %}
{% load static %}

{% block extra_nav_class %}
nav-gradient
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-20">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid pic-shadow" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="mb-0 mt-3">{{ product.name }}</h2>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <p class="lead mb-0 text-left">{{ product.price }}€</p>
                <p class="mt-3">{{ product.description|safe }}</p>
                {% if request.user.is_authenticated %}
                <!-- Star rating -->
                <form class="rate-form" method="POST" data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    <button type="button"
                        class="fa fa-star {% if rating.checked and rating.score >= 1 %}checked{% endif %}" value="1"
                        id="1"></button>
                    <button type="button"
                        class="fa fa-star {% if rating.checked and rating.score >= 2 %}checked{% endif %}" value="2"
                        id="2"></button>
                    <button type="button"
                        class="fa fa-star {% if rating.checked and rating.score >= 3 %}checked{% endif %}" value="3"
                        id="3"></button>
                    <button type="button"
                        class="fa fa-star {% if rating.checked and rating.score >= 4 %}checked{% endif %}" value="4"
                        id="4"></button>
                    <button type="button"
                        class="fa fa-star {% if rating.checked and rating.score >= 5 %}checked{% endif %}" value="5"
                        id="5"></button>
                </form>
                {% endif %}
                <p>Average rating: {{ ratingAverage }}</p>
                <p id="rating-confirm-box"></p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $(document).ready(function () {
        const form = document.querySelector('.rate-form')
        const first = document.getElementById('1')
        const second = document.getElementById('2')
        const third = document.getElementById('3')
        const fourth = document.getElementById('4')
        const fifth = document.getElementById('5')
        const confirmBox = document.getElementById('rating-confirm-box')
        const csrf = document.getElementsByName('csrfmiddlewaretoken')

        const handleStarSelection = (amount) => {
            const children = form.children;
            for (const child of children) {
                if (parseInt(child.value) <= amount) {
                    child.classList.add('checked');
                } else {
                    child.classList.remove('checked');
                }
            }
        };

        const handleSelect = (selection) => {
            handleStarSelection(parseInt(selection));
        };

        if (form) {
            const ratingButtons = form.children;
            for (const button of ratingButtons) {
                button.addEventListener('mouseover', (e) => {
                    handleSelect(e.target.value);
                });

                button.addEventListener('click', (e) => {
                    const value = e.target.value;
                    const productId = form.getAttribute('data-product-id');

                    $.ajax({
                        type: 'POST',
                        url: '{% url "rate_product" product.id %}',
                        data: {
                            'csrfmiddlewaretoken': csrf[0].value,
                            'value': value,
                        },
                        success: function (response) {
                            confirmBox.innerHTML = `Successfully rated with ${response.score}`;
                            setTimeout(() => {
                                confirmBox.style.display = 'none'
                            }, 4000);
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            confirmBox.innerHTML = `Oops... Something went wrong`;
                            setTimeout(() => {
                                confirmBox.style.display = 'none'
                            }, 4000);
                        }
                    });
                });
            }
        }
    });

</script>

{% endblock %}