{% extends "base.html" %}
{% load static sass_tags %}

{% block extra_nav_class %}
nav-gradient
{% endblock %}

{% block extra_title %}
<span class="home-link"> - Home</span>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="product-container col-10 offset-1 mt-40">
    <div class="row">
        <h2 class="wishlist-container col-12 text-center my-4"></h2>
        {% if wishlist_item_ids %}
            {% for product in products %}
                {% if product.id in wishlist_item_ids %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid pic-frame" src="{{ product.image.url }}"
                                    alt="{{ product.name }} Painting">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg"
                                    alt="{{ product.name }} Painting">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                        <div class="d-flex justify-content-between">
                                            <p class="small mt-1 mb-0">
                                                {{ product.date_created|date:"d.m.Y" }}
                                            </p>
                                            <i class="fa-solid fa-trash remove-from-wishlist" data-product-id="{{ product.id }}"
                                                style="cursor: pointer;">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-12 text-center my-4">
                <h2>Your collection of beloved artworks <br>will be showcased here.</h2>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/script.js' %}"></script>
{% endblock %}